.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background: #00000045;
  justify-content: center;
  align-items: center;
}
