.product-card__loupe-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -5px;
  left: -5px;
  background: url(../../../images/icons/loupe-icon.svg);
  opacity: 0;
  transition: opacity 0.2s;
}
