.product-card__label {
  background: #9b51e0;
  border-radius: 3px;
  padding: 4px 16px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  top: -5px;
  right: -5px;
}
