.product-card__youtube-icon {
  width: 22px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 0;
  background: url(../../../images/icons/youtube-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

@media screen and (max-width: 550px) {
  .product-card__youtube-icon {
    display: block;
  }
}
