@media screen and (max-width: 550px) {
  .catalog__list-item {
    border-bottom: 1px solid #EBF8FF;
    transition: opacity 0.2s;
  }

  .catalog__list-item:hover {
    opacity: 0.8;
  }

  .catalog__list-item:last-child {
    border-bottom: none;
  }
}
