@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/page/page.css);

/* ----- main ----- */
@import url(../blocks/main/main.css);

/* ----- intro ----- */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);
@import url(../blocks/intro/__item-icon/intro__item-icon.css);
@import url(../blocks/intro/__item-title/intro__item-title.css);
@import url(../blocks/intro/__item-text/intro__item-text.css);
@import url(../blocks/intro/__item-description/intro__item-description.css);

/* ----- catalog ----- */
@import url(../blocks/catalog/catalog.css);
@import url(../blocks/catalog/__title/catalog__title.css);
@import url(../blocks/catalog/__list/catalog__list.css);
@import url(../blocks/catalog/__list-item/catalog__list-item.css);
@import url(../blocks/catalog/__list-item-link/catalog__list-item-link.css);
@import url(../blocks/catalog/__card/catalog__card.css);
@import url(../blocks/catalog/__card-title/catalog__card-title.css);
@import url(../blocks/catalog/__card-text/catalog__card-text.css);
@import url(../blocks/catalog/__card-img/catalog__card-img.css);
@import url(../blocks/catalog/__card-count/catalog__card-count.css);
@import url(../blocks/catalog/__card-count-container/catalog__card-count-container.css);
@import url(../blocks/catalog/__card-arrow/catalog__card-arrow.css);

/* ----- hits ----- */
@import url(../blocks/hits/hits.css);
@import url(../blocks/hits/__header/hits__header.css);
@import url(../blocks/hits/__title/hits__title.css);
@import url(../blocks/hits/__list/hits__list.css);

/* ----- slider-menu ----- */
@import url(../blocks/slider-menu/slider-menu.css);
@import url(../blocks/slider-menu/__btn/slider-menu__btn.css);
@import url(../blocks/slider-menu/__btn/_type/slider-menu__btn_type_next.css);

/* ----- product-card ----- */
@import url(../blocks/product-card/product-card.css);
@import url(../blocks/product-card/__container/product-card__container.css);
@import url(../blocks/product-card/__link/product-card__link.css);
@import url(../blocks/product-card/__img-container/product-card__img-container.css);
@import url(../blocks/product-card/__img/product-card__img.css);
@import url(../blocks/product-card/__label/product-card__label.css);
@import url(../blocks/product-card/__loupe-icon/product-card__loupe-icon.css);
@import url(../blocks/product-card/__expand-icon/product-card__expand-icon.css);
@import url(../blocks/product-card/__youtube-icon/product-card__youtube-icon.css);
@import url(../blocks/product-card/__title/product-card__title.css);
@import url(../blocks/product-card/__stars-container/product-card__stars-container.css);
@import url(../blocks/product-card/__stars-list/product-card__stars-list.css);
@import url(../blocks/product-card/__star/product-card__star.css);
@import url(../blocks/product-card/__feedback-container/product-card__feedback-container.css);
@import url(../blocks/product-card/__feedback-count/product-card__feedback-count.css);
@import url(../blocks/product-card/__feedback-text/product-card__feedback-text.css);
@import url(../blocks/product-card/__price-container/product-card__price-container.css);
@import url(../blocks/product-card/__price/product-card__price.css);
@import url(../blocks/product-card/__price-old/product-card__price-old.css);
@import url(../blocks/product-card/__availability/product-card__availability.css);
@import url(../blocks/product-card/__availability-icon/product-card__availability-icon.css);
@import url(../blocks/product-card/__availability-text/product-card__availability-text.css);
@import url(../blocks/product-card/__menu/product-card__menu.css);
@import url(../blocks/product-card/__cart-btn/product-card__cart-btn.css);
@import url(../blocks/product-card/__menu-container/product-card__menu-container.css);
@import url(../blocks/product-card/__statistics-btn/product-card__statistics-btn.css);
@import url(../blocks/product-card/__like-btn/product-card__like-btn.css);
@import url(../blocks/product-card/__buy-btn/product-card__buy-btn.css);
